.books-table {
    width: 100%;
}

.book-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 170px;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: #fff;
  margin-bottom: 15px;
  padding: 30px 40px;
}

.books-table:last-child {
  margin-bottom: 0;
}

.book-info {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px
}

.book-category {
  width: 49px;
  height: 18px;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.5);
}

.book-title {
  font-family: RobotoSlab, sans-serif;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: -0.2px;
  color: black;
}

.book-author,
.links-container,
.links-container button {
  font-family: RobotoSlab, sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #4386bf;
}

.links-container button {
  border: none;
  background-color: transparent;
}

.links-separator {
  color: rgba(0, 0, 0, 0.3);
  font-size: 22px;
  margin: 0 20px;
}

.book-progress {
    display: flex;
    align-items: center;
}

.percentage {
    width: 68px;
    height: 39px;
    font-family: Montserrat, sans-serif;
    font-size: 32px;  
    font-weight: 300;
    color: rgb(0, 0, 0);
}

.book-status {
    width: 80px;
    height: 18px;
    opacity: 0.5;
    font-family: Montserrat;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.7);
}

.circle-container {
    width: 90px;
    height: 89.9px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}

.circle-container svg {
    width: 75px;
    height: 70px;
}

circle {
    stroke-width: 8px;
    fill: transparent;
}

#gray{
    stroke: #e8e8e8;
    stroke-dasharray: 90, 284;
    stroke-dashoffset: -120.75;
}


.current-chapter {
    position: relative;
    width: 33.33%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 60px;
}

.current-chapter::before {
    position: absolute;
    content: '';
    width: 2px;
    height: 60%;
    left: -2px;
    top: 15%;
    background-color: rgba(0, 0, 0, 0.07);
}

.books-progress,
.book-info-container {
    width: 33.33%;
}

.chapter-data {
    margin-bottom: 18px;
}

.current-chapter-p {
    font-family: RobotoSlab, sans-serif;
    font-size: 13px;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.3);
    margin-bottom: 9px;
}

.chapter-number {
    font-family: RobotoSlab, sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.9);
}

.progress-button {
    width: fit-content;
    height: fit-content;
}

.progress-button button {
    width: 184px;
    height: 33px;
    border-radius: 3px;
    background-color: #0290ff;
    font-family: Roboto, Helvetica, sans-serif;
    font-size: 14.7px;
    font-weight: 300;
    letter-spacing: 0.5px;
    text-align: center;
    color: white;
    border: none;
}
